<div class="results">

	<small>37 Results</small>
</div>


<section>
		{{#each data as |element|}}
			<small>{{element.url}}</small>
			<a href="#" class="result-title">

				<h1>{{element.title}}</h1></a>


	<p>
		{{element.description}}
		<!-- Well organized and easy to understand Web building tutorials with lots
		of examples of how to use HTML, CSS, JavaScript, SQL, PHP, Python,
		Bootstrap, Java -->
	</p>


	<ul class="links"  >
		{{#each links as |link|}}
			<li><a href="{{link.url}}" target="_blank">JavaScript Introduction</a></li>
		{{/each}}
	</ul>

		{{/each}}
</section>
