<nav class="wrap-results">
      <img src="/img/google.png" class="logo-results" />
      <form class="header-results" action="/results" method="post">
        <input type="search" name="search" autocomplete="off"/>
        <button type="submit">
          Search
        </button>
      </form>
    </nav>
    <div class="results">
			<small>37 Results</small>
    </div>
		<section>
    		{{#each resultsList as |singleResult|}}
		  			{{> result result=singleResult}}
				{{/each}}
    </section>
    <!-- <section class="search-results">
      <a href="#" target="_blank" class="result-title"
        ><h1>JavaScript | MDN</h1></a
      >

      <p>
        JavaScript (JS) is a lightweight, interpreted, or just-in-time complied
        programming language with first-class functions. While it is most
        well-known as the scrpiting language for Web pages, CouchDB and Adobe
        Acrobat.
      </p>

      <ul class="links" class="search-results">
        <li><a href="#" target="_blank">JavaScript Operator</a></li>
        <li><a href="#" target="_blank">JS Code</a></li>
        <li><a href="#" target="_blank">JavaScript Meaning</a></li>
      </ul>


			<small>en.wikipedia.org</small>
    </section>
    <section class="search-results">
      <a href="#" target="_blank" class="result-title"
        ><h1>JavaScript - Wikipedia</h1></a
      >
      <p>
        JavaScript often abbreviated as JS, is a programming language that
        conforms to ECMAScript specification. JavaScript is high-level, often
        just-in-time.
			</p>



			<ul class="links">
        <li><a href="#" target="_blank">JavaScript Online</a></li>
        <li><a href="#" target="_blank">JavaScript Definition</a></li>
      </ul> -->
